<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Add Bootstrap CSS Demo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
</head>

<body>
    <div class="row justify-content-center">
        <div class="col-md6 col-lg-4">
        <h1>Employees Edit</h1>

        <form action="" method="post" th:object="${contacto}">
            <div class="mb-3">
                <label for="nombre">Nombre : </label> <input id="nombre" type="text" placeholder="Digite su nombre " th:field="*{nombre}" class="form-control" th:errorClass="is-invalid">

                <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="invalid-feedback"></div>
            </div>

            <div class="mb-3">
                <label for="email">Email : </label> <input id="email" type="email"
                    placeholder="Digite su email " th:field="*{email}" class="form-control" th:errorClass="is-invalid">

                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-feedback"></div>
            </div>

            <div class="mb-3">
                <label for="prioridad">prioridad : </label> <input
                    id="prioridad" type="number" th:field="*{prioridad}" class="form-control" th:errorClass="is-invalid">

                <div th:if="${#fields.hasErrors('prioridad')}" th:errors="*{prioridad}" class="invalid-feedback"></div>
            </div>

            <div class="text-end">
                <button class="btn btn-success"><i class="fas fa-save"></i>&nbsp;Guardar</button>
                <a href="/hello1" class="btn btn-light ms-2"><i class="fas fa-backward"></i>&nbsp;Cancelar </a>
            </div>

        </form>

        </div>    
    </div> 
</body>

</html>